<%- include("partials/header") %>


<div class="jumbotron">
  <h1 class="display-4 centered">Welcome to the site!</h1>
  <p class="lead centered">Log In to Access Hidden Information</p>
  <hr class="my-4">

  <div class="card mx-auto bg-light w-50">
    <div class="card-body">
      <form class="centered" action="/" method="POST">

        <div class="container form-group">
          <label for="username">Email</label>
          <input type="email" class="form-control" name="username">
        </div>

        <div class="container form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password">
        </div>

        <button type="submit" name="homeButton" value="login" class="btn btn-dark btn-primary btn-md">Log In</button>
        <a href="/register" class="btn btn-dark btn-primary btn-md" >Register</a>
      </form>
    </div>

  </div>
</div>




<%- include("partials/footer") %>
