<%- include("partials/header") %>


<div class="container">
  <div class="jumbotron centered">
    <h1 class="display-4 centered">Hello Anonymous</h1>
    <p class="lead centered">Welcome to the Secret Site</p>
    <hr class="my-4">

  <% userSecrets.forEach( item => { %>
      <p class="secret-text"><%= item.secret%></p>
  <% }) %>
    <a href="/" class="btn btn-light btn-primary btn-md">Log in to submit a secret</a>
  </div>
</div>


<%- include("partials/footer") %>
