<%- include("partials/header") %>


<div class="jumbotron">
  <h1 class="display-4 centered">Access Granted</h1>
  <p class="lead centered">Welcome to the Secret Site</p>
  <hr class="my-4">
</div>




<%- include("partials/footer") %>
