body {
  background-color: #E8ECEF;
}


.centered {
  text-align: center;
}

.secret-text {
  background-color: #000;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: #fff;
}
